
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-passenger-count 
            [totalpass]="passdata.length"
            [checkespass]="getcheckdata"
            ></app-passenger-count>
       
    <mat-card>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let pass of passdata" ;trackby:trackfun>
                {{pass.fullname}}
            </li>
        </ul>
    </mat-card>
    
            <ng-container *ngFor="let pass of passdata">
             <app-passenger-card
             [passobj]="pass">
             </app-passenger-card>
            </ng-container>
        </div>
    </div>
</div>